<div>
  

  <div style="display: block; margin-bottom: 300px; "  >
    <div class="divfood">
      <div >
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/hleb.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Три слайса хлеба</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
              <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/salat.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Фруктовый салат</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/jigul.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Полторашка жигулевского</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>
    
    <div class="divfood">
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/chernika.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Миска черники</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>

      </div>
      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/malina.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Стакан малины</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>

      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/oves.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Порция овсянки</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>

  </div>
</div> 
<br>
