<div>
  

  <div style="display: block; margin-bottom: 300px; "  >
    <div class="divfood">
      <div >
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/burger.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Бургер без мяса</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
              <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/pasta.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Паста</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/kfc.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Пати баскет</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>
    
    <div class="divfood">
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/pizza.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Лобстер-пицца</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>

      </div>
      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/roll.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Набор из рыбы и риса</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>

      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/salo.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Сало 200гр.</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>

  </div>
</div> 
<br>
