<div>
  

  <div style="display: block; margin-bottom: 300px; "  >
    <div class="divfood">
      <div >
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/tea.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Чашка зеленого чая</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
              <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/whiskey.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Виски 40мл</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
      
      
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/oranje.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Один апельсин</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>
    
    <div class="divfood">
      <div>
            <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/tomat.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Томат 1шт</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>

      </div>
      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/kartofelina.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Картофелина</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>

      <div>
        <div style="margin-top: 40px;">
               <img style="margin: 5px;" src="/image/jack.jpg">
                <form class="form" id="getFood"  action="https://www.delivery-club.ru/" method="get">
                <p class="page-header">Я устал</p>
                <button   class="btn btn-primary" type="submit" value="Потратить">Потратить</button>
                 
                </form>
            </div>
      </div>
    </div>

  </div>
</div> 
<br>
