<!DOCTYPE html>
<html>

<head>
  <title>Motivation for Strava</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src= "/application.js"></script>
</head>

<body class="container">
  {{{body}}}
</body>

</html>
